.header {
  display: flex;
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
  justify-content: space-between;
  padding: 40px 20px;
}
.header img {
  width: 210.32px;
  height: 68px;
}

.header nav ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
  font-weight: 500;
}
