.title-home {
  position: absolute;
  display: flex;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: white;
}
/* flex-wrap: wrap; */
.cards {
  background: #f7f7f7;
  border-radius: 25px;
}
