.title-home {
  position: absolute;
  display: flex;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: white;
}

.cards {
  background: #f7f7f7;
  margin-block: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: space-between;
  padding: 50px;
  border-radius: 25px;
}
@media screen and (max-width: 997px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .home .banner img {
    border-radius: 10px;
    height: 111px;
  }

  .title-home {
    font-size: 24px;
    flex-wrap: wrap;
    margin-inline: 16px;
  }

  .cards {
    margin-block: 22px;
    grid-template-columns: 1fr;
    background: none;
    padding: 0;
    gap: 22px;
  }
}
