.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  max-width: min-content;
  text-align: right;
}

.avatar {
  max-width: 64px;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .name {
    font-size: 12px;
    line-height: 14px;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }
}
